/* write your css here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 1200px;
    margin: 10% auto;
    z-index: 1;
}

.container {
    height: 500px;
    margin: 0 auto;
    padding: 15%;
    background-image: linear-gradient(#0b0513, #0b0513);
    position: relative;
    border-radius: 30px;
}

.clr {
    background-color: rgba(155, 39, 170, 0.178);
    -webkit-filter: blur(40px);
    height: 180px;
    width: 650px;
    position: absolute;
    /* bottom: -180px; */
    right: 23%;
    border-radius: 50%;
}

.main-heading {
    width: 600px;
    margin: auto;
    color: #fff;
    text-align: center;
}

.intro {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 1.8;
    color: #868e96;
}

.search {
    /* width: 1000px;  */
    margin: 0 auto;
    /* margin-left: 21%; */
    margin-top: 4%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.search-box {
    height: 40px;
    width: 350px;
    /* margin: 0 auto; */
    /* margin-top: 3%; */
    font-size: 14px;
    padding: 10px;
    /* background: transparent; */
    border: none;
    background-color: #291b3f;
    border-radius: 10px;
    caret-color: white;
    color: white;
} 

.notify-btn {
    padding:10px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: white;
    /* margin-left: 10px; */
    font-weight: bold;
    cursor: pointer;
}

.notify-btn:hover {
    background-color: #868e96;
    color: white;
}