/* write your css here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Main heading section */
.container {
    width: 1200px;
    margin: 0 auto;
}

.heading {  
    margin: 50px auto;
    text-align: center;
}

hr {
    border-left: 1px solid #eef0f1;
}

.pricing-tag {
    font-size: 14px;
    font-weight: bold;
    color: #3b5bdb;
    margin-bottom: 10px;
}

.main-heading {
    font-size: 48px;
    color: #343a40;
    margin-bottom: 20px;
}

.desc {
    line-height: 1.7;
    width: 600px;
    color: #868e96;
    margin: 0 auto;
}

.price-block {
    display: flex;
    gap: 40px;
    margin-top: 7%;
}

.block {
    height: auto;
    width: 500px;
}

.plan-type {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
    color: #343a40;
}

.bold-price {
    font-size: 42px;
    font-weight: bold;
    color: #343a40;
    display: inline-block;
    margin-bottom: 10px;
}

.bold-price-subsec {
    display: inline-block;
    font-weight: bold;
    color: #868e96;
}

.buy-plan-btn {
    width: 100%;
    background-color: #3b5bdb;
    border: none;
    color: white;
    padding: 15px 50px;
    border-radius: 10px;
    margin-bottom: 40px;
    cursor: pointer;
}

.buy-plan-btn:hover {
    background-color: #1c296b;
}

.price-discount {
    margin-bottom: 40px;
    color: #868e96;
}

.feature-desc {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #343a40;
    line-height: 1.5;
}

.feature-list {
    font-size: 14px;
    color: #343a40; 
}

.feature-li-item {
    display: flex;
    justify-content: left;
    align-items: center;
    align-self: center;
    gap: 10px;
    line-height: 2.5;
}

.tick-icon {
    height: 24px;
    width: 24px;
    fill: #3b5bdb;
    stroke: white;
}
